div .timer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: min-content;
    padding: 2px 10px;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    user-select: none;
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}