.App{
    display: grid;
    grid-template-rows: 35px 1fr;
    height: 100%;
}

footer{
    position: fixed;
    background-color: rgba(24, 24, 24, 1);
    width: 100%;
    color: white;
}

main{
    grid-area: 2/1/3/2;
}

::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}

::-webkit-scrollbar-track {
    background: #1b1b1b;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}